html{
padding: 0;
margin: 0;
  background-color: rgb(235, 233, 233);
}
*{
  /* filter: invert(100%); */
}
body{
  margin: 0;
  padding: 0;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}
nav{
  margin-bottom: 30px;
  height: 100px;
  align-items: center;
  display: flex;
  /* background-color: rgb(12, 1, 26); */
  justify-content: space-around;
  box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.192);
}
.logo{
height: 40px;
}
.nav-title{
  font-weight: 500;
}
.App{
  display: flex;
  
  margin-bottom: 50px;
  height: 240px;
  /* background-color: aquamarine;  */
}
.parent-cont{
  display: flex;
  flex-direction: column;
}
*{
  font-family: poppins;
  /* border: solid 1px grey */
}
.card-cont{
  margin-left: 10px;
  padding-top: 10px;
  min-width: 170px;
  height: 230px;
  background-color: #eeeeeee5;
  box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.322);
}
.card-cont:hover{
  transform:translate(10px)
}
.card-cont>img{
  filter: none;
  width: 150px;
  height: 87%;
  /* height: 100%; */
  /* max-width: 150px; */
  /* position: absolute; */
  /* filter: grayscale(100%); */
  object-fit: cover;
}
.side{
  justify-content: space-between;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 0;
}
.country{
margin-top: 20px;
text-align: left;
font-size: .7rem;
margin-bottom: 0;
}

.name{
  text-align: left;
  margin-top: 0;
  margin-bottom: 5px;
}
.rating{
  border-bottom: solid 2px rgba(128, 128, 128, 0.201);

  text-align: left;
  margin-right: 100px;
  margin-top: 0;
  padding-bottom: 5px;
  margin-bottom: 0;
}
.details{
  text-align: left;
  font-size: .7rem;
  font-weight: 500;
}
* {
transition: 1s;
}
@media screen and (min-width:768px) {
  main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .parent-cont{
    flex-direction: row;
    flex-wrap: wrap;
    }
  .App{
    flex:50%;
  }
  
  .side{
    max-width: 250px;
    text-align: justify;
  }
}